<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
</head>
<body>
    <h1>Bird Species Recognizer</h1>
    <h2>Upload valid image, classifier returns most likely out of 510 bird species</h2>

    <form method="POST" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        {{form.file()}}
        {{form.submit()}}
    </form>

    {% if predicted_class %}
        <h3>Predicted bird species: {{predicted_class}}</h3>
    {% endif %}

    {% if image_url %}
        <h4>Uploaded Image: </h4>
        <img src="{{image_url}}" alt="Uploaded image"/>
    {% endif %}

    {% if class_image_url %}
        <h4>Class Image: </h4>
        <img src="{{class_image_url}}" alt="Class image"/>
    {% endif %}
</body>
</html>